<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Карта сражений</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        /* Карта */
        #map {
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        /* Окно маячка */
        .custom-popup {
            background: #E8EDE1;
            border: 2px solid #495057;
            border-radius: 5px;
            padding: 10px;
            font-family: Arial, sans-serif;
            color: #495057;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        }
        .custom-popup h3 {
            margin: 0;
            font-size: 16px;
            color: #997E59;
        }
        .custom-popup h2 {
            margin: 0;
            front-size: 24px;
            color: #495057;
        }
        .custom-popup p {
            margin: 5px 0 0;
            font-size: 16px;
            color: #000000;
            text-align: justify;
        }
        /* Треугольный указатель */
        .leaflet-popup-tip {
            background: #E8EDE1;
        }
        /* Пользунок */
        .slider {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        #fader {
            width: 300px;
            height: 9px;
            background: #E8EDE1;
            border: 3px solid #495057;
            border-radius: 5px;
            outline: none;
            -webkit-appearance: none;
            position: relative;
        }
        #fader::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 3px solid #495057;
            border-radius: 50%;
            background: #E8EDE1;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
        #fader::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            height: 20px;
            border-radius: 5px;
            background: transparent;
        }
        /* Число века */
        output {
            position: absolute;
            top: -40px;
            left: 0;
            padding: 5px 8px;
            background: #E8EDE1;
            color: #495057;
            border: 3px solid #495057;
            border-radius: 10px 10px 0 10px;
            font-weight: bold;
        }
        /* Окно века */
        .century-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 82px;
            height: 28px;
            background: #E8EDE1;
            border: 2px solid #495057;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            color: #495057;
            text-align: center;
        }
        .info-button {
            color: #997E59;
            background: none;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: color 0.3s ease;
            padding: 0;
            display: inline;
        }
        
        .info-button:hover {
            color:#76543E;
        }
        
        .info-button a {
            color: inherit;
            text-decoration: none;
        }
        
        .info-button a:hover {
            color: #76543E !important;
        }

        .attribution {
            position: fixed;
            bottom: 0;
            right: 0;
            background-color: #E8EDE1;
            color: #997E59;
            padding: 2px 6px;
            border-radius: 4px 0 0 4px;
            box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>
<body>
    <!-- Карта -->
    <div id="map"></div>
    <div class="attribution">@OpenStreetMap</div>

    <!-- Ползунок -->
    <div class="slider">
        <output id="volume">17</output>
        <input type="range" id="fader" min="17" max="20" value="17" step="1" oninput="updateCentury(this)">
        <div class="century-box" id="century-box">XVII век</div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Карта
        const map = L.map('map').setView([55.7558, 37.6173], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Визуал маркера
        function createCustomIcon(size = 40) {
            const svgContent = `
                <svg xmlns="http://www.w3.org/2000/svg" width="${size}" height="${size * 1.5}" viewBox="0 0 26 38">
                    <path d="M12 0C7 0 3 4 3 9c0 5 9 20 9 20s9-15 9-20c0-5-4-9-9-9z" 
                          fill="#AE153C" stroke="#660D23" stroke-width="2"/>
                    <circle cx="12" cy="12" r="4" fill="#F6F5F0"/>
                </svg>
            `;
            return L.divIcon({
                className: '',
                html: svgContent,
                iconSize: [size, size * 1.5],
                iconAnchor: [size / 2, size * 1.5],
            });
        }

        const customIcon = createCustomIcon(24);

        // Маркеры
        const markers = {
            17: [
                L.marker([54.782635, 32.045287], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Смоленск</h3>
                        <h2>1609-1611гг. - Оборона Смоленска</h2>
                        <p>Во время польской интервенции в период Смутного времени Смоленск оказался в длительной осаде армией короля Сигизмунда III. 
                        Русские защитники мужественно оборонялись почти два года, несмотря на нехватку припасов и постоянные штурмы. 
                        В 1611 году город пал, но сопротивление истощило силы польской армии. 
                        Оборона стала символом стойкости в борьбе за независимость.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_smolnsk1609' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([55.6575, 34.9300], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Смоленская обл., д. Клушино</h3>
                        <h2>04.07.1610г. - Клушинская битва</h2>
                        <p>Произошла в ходе Смутного времени между русско-шведскими войсками Дмитрия Шуйского и польско-литовскими силами под командованием Станислава Жолкевского. 
                        Поляки одержали победу, что привело к свержению царя Василия IV Шуйского и польской оккупации Москвы. 
                        Битва ускорила политический кризис в России, однако вскоре началось народное ополчение, освободившее страну.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_klush' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([49.077179, 32.649116], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Чигирин</h3>
                        <h2>1677–1678гг. - Чигиринские походы</h2>
                        <p>Серия сражений между русско-казацкими войсками и Османской империей за контроль над Чигирином, важным укреплением в Левобережной Украине. 
                        В ходе второго похода османы сумели разрушить город, но их дальнейшее продвижение было остановлено. 
                        Война укрепила позиции России в регионе и ослабила влияние Турции.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_chigir' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([47.115657, 39.421457], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Азов</h3>
                        <h2>1695–1696гг. - Азовские походы</h2>
                        <p>Пётр I предпринял два военных похода для захвата крепости Азов у Османской империи. 
                        Первый поход был неудачным из-за отсутствия флота. 
                        Во втором, при поддержке новосозданного русского флота, крепость была взята. 
                        Это стало первым шагом России к выходу к морю и укреплению её позиций на юге.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_azov' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([55.753834, 37.621181], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Москва, Красная площадь</h3>
                        <h2>01-11.06.1648г. - Соляной бунт</h2>
                        <p>В Москве вспыхнуло восстание из-за введения высоких налогов на соль и недовольства коррупцией властей. 
                        Толпа захватила Белый город, требовала выдачи бояр и жестоко расправилась с ними. 
                        Царь Алексей Михайлович был вынужден уступить требованиям и казнить виновных в злоупотреблениях. 
                        Бунт показал напряжённость между населением и боярской властью.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_salt' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([65.0196, 35.7102], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Архангельская область, Соловецкий монастырь</h3>
                        <h2>22.06.1668-02.02.1676гг. - Соловецкое восстание</h2>
                        <p>Монахи Соловецкого монастыря восстали против церковных реформ патриарха Никона, поддержанных царём. 
                        Монастырь стал центром сопротивления старообрядцев и выдержал восьмилетнюю осаду царских войск. 
                        В 1676 году обитель была взята предательством изнутри. 
                        Восстание стало символом религиозного протеста и борьбы за старую веру.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_solovki' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([51.5310, 45.9783], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Поволжье, г. Царицын</h3>
                        <h2>1667-1669, 1670-1671гг. - Восстание Степана Разина</h2>
                        <p>Казаки под предводительством Разина подняли мятеж против власти бояр и помещиков, стремясь к социальной справедливости. 
                        Разин захватил ряд городов, включая Астрахань и Саратов, и создал угрозу для централизованной власти. 
                        После ряда поражений он был схвачен и казнён. 
                        Восстание показало социальную напряжённость и усилило репрессии.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_razin' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([55.6673, 37.67076], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Село Коломенское</h3>
                        <h2>25.07.1662г. - Медный бунт</h2>
                        <p>Из-за введения медных денег, обесценивших серебряные, в Москве вспыхнуло народное восстание. 
                        Люди требовали отмены реформ и наказания ответственных чиновников. 
                        Восставшие были жестоко подавлены, а реформы частично отменены. 
                        Бунт стал одним из первых массовых выступлений против финансовой политики власти.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_copper' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
            ],
            18: [
                L.marker([54.61114, 21.484935], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Восточная Пруссия, г. Гросс-Егерсдорф</h3>
                        <h2>30.08.1757г. - Сражение при Гросс-Егерсдорфе</h2>
                        <p>Первая крупная битва Семилетней войны, в которой русская армия под командованием Салтыкова нанесла поражение пруссакам. 
                        Несмотря на потери и хаос в начале боя, русские войска сумели переломить ход сражения и заставили пруссаков отступить. 
                        Это укрепило позиции России в войне против Пруссии.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_grsegs' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([38.333333, 26.283333], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Хиосский прол., бухта Чесма</h3>
                        <h2>04.07.1610г. - Чесменское сражение</h2>
                        <p>Русский флот под командованием графа Орлова разгромил османскую эскадру у острова Чесма во время русско-турецкой войны. 
                        Главную роль сыграли брандеры – корабли с горючими материалами, которые подожгли вражеский флот. 
                        Победа обеспечила России господство в Эгейском море и способствовала расширению её влияния.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_chesm' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([53.735759, 30.502870], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>28.09.1708г. - Битва при Лесной</h2>
                        <p>Во время Северной войны русские войска под командованием Петра I атаковали шведский корпус генерала Левенгаупта, который вёз припасы армии Карла XII. 
                        Сражение шло целый день, и русские смогли окружить и разгромить шведов, захватив их обоз. 
                        Потеря припасов ослабила армию Карла XII перед Полтавской битвой.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_lesn' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([49.5883, 34.5514], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Полтава</h3>
                        <h2>27.06.1709г. - Полтавская битва</h2>
                        <p>Решающая битва Северной войны, в которой Пётр I разгромил армию Карла XII. 
                        Русские войска проявили выдающееся командование и стойкость. 
                        Победа положила конец шведской гегемонии в Европе и укрепила международное положение России. 
                        Это стало поворотным моментом в истории Российской империи.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_polt' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([55.752172, 37.618936], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Москва, Чудов монастырь</h3>
                        <h2>15-17.09.1771г. - Чумной бунт</h2>
                        <p>Во время эпидемии чумы в Москве жители восстали против властей, обвиняя их в бездействии и жестоких мерах. 
                        Толпа разгромила медучреждения и убила архиепископа Амвросия, пытавшегося унять народ. 
                        Для подавления восстания был направлен Григорий Орлов. 
                        Восстание стало трагическим итогом неэффективной санитарной политики.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_plague' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([59.9019, 22.9384], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Балтийское море</h3>
                        <h2>26.07.1714г. - Битва при Гангуте</h2>
                        <p>Первая крупная морская победа русского флота, одержанная над шведами в Финском заливе. 
                        Русские галеры под командованием Апраксина одолели шведские корабли на мелководье. 
                        Победа укрепила позиции России на море и в Северной войне. 
                        Это стало важным шагом в создании военного флота России.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_gangut' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([52.6152, 58.1934], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Яицкий городок</h3>
                        <h2>1773-1775г. - Пугачёвское восстание</h2>
                        <p>Крестьяне, казаки и башкиры подняли восстание под предводительством Емельяна Пугачёва, выдавшего себя за Петра III. 
                        Восстание охватило Поволжье и Урал, вызвало массовое насилие и захват городов. 
                        В итоге мятеж был подавлен, Пугачёв казнён. 
                        Бунт стал крупнейшим народным восстанием XVIII века.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_pugach' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([45.3499, 28.8336], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Крепость Измаил</h3>
                        <h2>22.12.1790г. - Штурм Измаила</h2>
                        <p>Русские войска под командованием Суворова штурмовали мощную турецкую крепость Измаил на Дунае. 
                        Атака велась с разных направлений и завершилась полным разгромом гарнизона. 
                        Победа показала силу русской армии и завершила кампанию на юге. 
                        В Европе это вызвало большой резонанс.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_izmail' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
            ],
            19: [
                L.marker([55.012667, 36.461351], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>12.10.1812г. - Сражение под Малоярославцем</h2>
                        <p>Русские войска под командованием Кутузова остановили Наполеона, пытавшегося отступить по южному пути с более богатой провизией. 
                        Город несколько раз переходил из рук в руки, но в итоге остался за русскими. 
                        Это вынудило французов отступать по разорённой Смоленской дороге, что привело к их гибели.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_maloyr' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([55.120640, 36.939686], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Калужская область, деревня Тарутино</h3>
                        <h2>18.10.1812г. - Бой под Тарутино</h2>
                        <p>Русская армия под командованием Кутузова внезапно атаковала французский корпус Мюрата, разбив его и захватив трофеи. 
                        Победа укрепила позиции русских, позволила им перейти в наступление и стала важным этапом в изгнании Наполеона из России.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_tarut' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([51.312368, 12.413300], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>16-19.10.1813г. - Битва под Лейпцигом</h2>
                        <p>Крупнейшее сражение Наполеоновских войн, в котором коалиционные войска России, Пруссии, Австрии и Швеции разгромили французскую армию. 
                        После трёхдневных боёв Наполеон был вынужден отступить, потеряв большую часть армии. 
                        Победа союзников привела к освобождению Германии и падению наполеоновского господства в Европе.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_leipz' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([59.936458, 30.302295], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Санкт-Петербург, Сенатская площадь</h3>
                        <h2>14.12.1825г. - Восстание декабристов</h2>
                        <p>Первое в истории России вооружённое выступление против самодержавной власти, попытка дворян-офицеров установить в государстве конституционный строй. 
                        Произошло во время династического кризиса после смерти царя Александра I. 
                        Было подавлено, но стало символом борьбы за свободу.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_decemb' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([55.515207, 35.908069], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Московская область, деревня Бородино</h3>
                        <h2>26.08.1812г. - Бородинская битва</h2>
                        <p>Крупнейшее сражение Отечественной войны между русской армией под командованием Кутузова и войсками Наполеона. 
                        Битва была крайне ожесточённой и закончилась тактической победой французов, но стратегически ослабила их армию. 
                        Это сражение стало символом героизма русских солдат.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_borod' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([54.782630, 32.045098], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Смоленск</h3>
                        <h2>16-18.08.1812г. - Смоленское сражение</h2>
                        <p>Армия Наполеона пыталась взять Смоленск, стратегически важный город на пути к Москве. 
                        Русские армии под командованием Барклая де Толли и Багратиона обороняли город, но были вынуждены отступить. 
                        Город был сожжён, чтобы не достался врагу. 
                        Сражение дало время для перегруппировки русских сил.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_smolnsk1812' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([49.153333, 16.876389], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>20.11.1805г. - Битва под Аустерлицем</h2>
                        <p>Наполеон одержал выдающуюся победу над союзными армиями России и Австрии. 
                        Используя тактический обман, он разбил противника, нанеся им огромные потери. 
                        Это укрепило его авторитет и ослабило коалицию. 
                        После битвы Австрия вышла из войны, а Франция стала главной силой в Европе.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_aust' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([44.6167, 33.5254], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Крым, г.Севастополь</h3>
                        <h2>1854-1855гг. - Оборона Севастополя</h2>
                        <p>В ходе Крымской войны англо-франко-турецкие войска осадили Севастополь — важную базу Черноморского флота. 
                        Русские героически оборонялись почти год, но город пал после продолжительных боёв. 
                        Оборона стала символом мужества и самопожертвования. 
                        Итогом войны стало ограничение прав России на флот в Чёрном море.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_sevast' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([42.3863, 46.5250], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Село Гуниб</h3>
                        <h2>25.08.1859г. - Пленение Шамиля</h2>
                        <p>Имам Шамиль — лидер кавказского сопротивления — был захвачен в ауле Гуниб русскими войсками. 
                        Его поимка ознаменовала окончание длительной Кавказской войны. 
                        Шамиль был сослан, а регион окончательно перешёл под контроль России. 
                        Это позволило империи укрепить позиции на Кавказе.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_shamil' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([42.02657, 35.151103], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Гавань г. Синоп</h3>
                        <h2>18.11.1853г. - Синопское сражение</h2>
                        <p>Русский флот под командованием Нахимова уничтожил османскую эскадру в бухте Синопа. 
                        Сражение стало крупнейшим морским боем Крымской войны. 
                        Победа вызвала международный резонанс и привела к вступлению Англии и Франции в войну против России. 
                        Это ознаменовало эскалацию конфликта.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_sinop' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
            ],
            20: [
                L.marker([52.516259, 13.377217], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>24.04-02.05.1945г. - Штурм Берлина</h2>
                        <p>Заключительная операция Великой Отечественной войны, в ходе которой советские войска взяли столицу нацистской Германии. 
                        Бои шли с ожесточением, особенно за Рейхстаг. 
                        2 мая Берлин пал, а 9 мая (8 по местному времени) Германия капитулировала. 
                        Победа завершила войну в Европе.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_berl' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([59.944959, 31.034754], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>12-30.01.1943г. - Прорыв блокады Ленинграда</h2>
                        <p>Советские войска провели операцию «Искра» и прорвали блокаду, длившуюся с 1941 года. 
                        Была создана сухопутная связь с городом, что значительно улучшило снабжение. 
                        Полное снятие блокады произошло в 1944 году. 
                        Прорыв стал важной победой в моральном и стратегическом плане.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_blokl' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([56.263017, 34.334419], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>08.01.1942-31.03.1943гг. - Ржевская битва</h2>
                        <p>Серия кровопролитных боёв за удержание и освобождение Ржевского выступа на линии фронта. 
                        С обеих сторон были огромные потери, город многократно переходил из рук в руки. 
                        Несмотря на отсутствие решающей победы, битва истощила силы вермахта. 
                        Она получила название «Ржевская мясорубка».</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_rzhev' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([46.295988, 15.204992], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3></h3>
                        <h2>23.08-11.09.1914гг. - Галицийская битва</h2>
                        <p>В начале Первой мировой войны русские армии нанесли поражение австро-венгерским войскам в Восточной Галиции. 
                        Было захвачено множество пленных и артиллерии, австрийцы отступили. 
                        Победа укрепила позиции России на юго-западном фронте. 
                        Однако позже положение изменилось из-за германской поддержки союзников.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_galic' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([50.7593, 25.3424], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Луцк</h3>
                        <h2>22.05.1916г. - Брусиловский прорыв</h2>
                        <p>Генерал Брусилов провёл успешную наступательную операцию против австро-венгерских войск. 
                        Применяя новую тактику ударов по нескольким направлениям, русская армия достигла крупных успехов. 
                        Враг понёс огромные потери, и Германия была вынуждена перебросить войска с других фронтов. 
                        Это стало самой успешной операцией России в Первой мировой.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_brus' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),        
                L.marker([59.939403, 30.315193], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Санкт-Петергбург, Дворцовая площадь</h3>
                        <h2>25.10.1917г. - Октябрьская революция</h2>
                        <p>Большевики под руководством Ленина захватили власть в Петрограде, свергнув Временное правительство. 
                        Штурм Зимнего дворца стал символом революции. 
                        Власть перешла к Советам, был образован Совет народных комиссаров. 
                        Революция положила начало гражданской войне и советскому периоду.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_octob' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
                L.marker([48.7080, 44.5133], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>г. Волгоград</h3>
                        <h2>17.07.1942-02.02.1943гг. - Сталинградская битва</h2>
                        <p>Одна из самых кровопролитных битв в истории, в которой Красная армия остановила и окружила 6-ю армию вермахта. 
                        Сражение шло за каждый дом, завод и улицу. 
                        Победа стала переломным моментом Второй мировой войны. 
                        Германия потеряла стратегическую инициативу.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_stalg' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),        
                L.marker([34.3359, 130.0903], { icon: customIcon }).bindPopup(`
                    <div class="custom-popup">
                        <h3>Корейский пролив</h3>
                        <h2>14-15.05.1905г. - Цусимское сражение</h2>
                        <p>Во время русско-японской войны японский флот под командованием Того разгромил русский Балтийский флот у Цусимы. 
                        Россия потеряла большинство кораблей и моряков. 
                        Поражение подорвало авторитет царского режима и ускорило начало революции 1905 года. 
                        Сражение показало значение современных морских технологий и подготовки.</p>
                        <p>
                            <button class="info-button">
                                <a href="{% url 'info_tsush' %}">Подробнее ↠</a>
                            </button>
                        </p>
                    </div>
                `),
            ]
        };

        let currentMarkers = [];

        function updateMarkers(century) {
            currentMarkers.forEach(marker => map.removeLayer(marker));
            currentMarkers = [];

            if (markers[century]) {
                markers[century].forEach(marker => {
                    marker.addTo(map)
                    currentMarkers.push(marker);
                });
            }
        }

        // Обновление числа и века
        function updateCentury(slider) {
            const output = document.getElementById('volume');
            const centuryBox = document.getElementById('century-box');

            // Преобразование значений
            const centuries = {
                17: 'XVII',
                18: 'XVIII',
                19: 'XIX',
                20: 'XX',
            };

            const value = slider.value;

            // Обновление числа
            output.textContent = value;

            // Сдвиг позиции числа
            const thumbOffset = (slider.offsetWidth - 20) / (slider.max - slider.min) * (value - slider.min);
            output.style.left = `${thumbOffset}px`;

            // Обновление значения века
            centuryBox.textContent = `${centuries[value]} век`;

            // Сдвиг заливки шкалы
            const percentage = ((value - slider.min) / (slider.max - slider.min)) * 100;
            slider.style.background = `linear-gradient(to right, #997E59 ${percentage}%, #E8EDE1 ${percentage}%)`;

            updateMarkers(value);
        }

        // Инициализация начального значения
        const slider = document.getElementById('fader');
        updateCentury(slider);
        updateMarkers(slider.value);
    </script>
</body>